<div class="container mt-5">
    <h2 class="dsubhead fs-4 mb-0 text-center pb-5">Search for Book:</h2>
    <form class="row g-3">

        <div class="col-md-4">
            <label for="inputTitle" class="form-label">Title</label>
            <input type="search" class="form-control" id="inputTitle" name="title">
        </div>

        <div class="col-md-4">
            <label for="inputAuthor" class="form-label">Author</label>
            <input type="search" class="form-control" id="inputAuthor" name="author">
        </div>


        <div class="col-md-2">
            <label for="inputDate" class="form-label">From: Date Published</label>
            <input type="date" class="form-control" id="inputDate" name="date_from">
        </div>
        <div class="col-md-2">
            <label for="inputDate" class="form-label">To: Date Published</label>
            <input type="date" class="form-control" id="inputDate" name="date_to">
        </div>

        <div class="col-md-3">
            <label for="inputISBN" class="form-label">ISBN Number</label>
            <input type="search" class="form-control" id="inputISBN" name="isbn">
        </div>

        <div class="col-md-1">
            <label for="inputPages" class="form-label">Min Pages</label>
            <input type="number" min=0 class="form-control" id="inputPages" name="min-pages">
        </div>

        <div class="col-md-1">
            <label for="inputPages" class="form-label">Max Pages</label>
            <input type="number" min=0 class="form-control" id="inputPages" name="max-pages">
        </div>

        <div class="col-md-3">
            <label for="inputLink" class="form-label">Link to Cover</label>
            <input type="url" class="form-control" id="inputLink" name="link">
        </div>

        <div class="col-md-4">
            <label for="inputLanguage" class="form-label">Language</label>
            <input type="search" class="form-control" id="inputLanguage" name="language">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>